// COLOR VARIABLES
$color-primary: #082032;
$color-primary-dark: #b28451;
$color-secondary: #101d2c;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
// FONT VARIABLES
$font-primary: "Mirza",
sans-serif;
$font-display: "Mirza",
sans-serif;
// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
*,
*::before,
*::after {
    // margin: 0;
    // padding: 0;
    // box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
html {
    box-sizing: border-box;
    // font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    @media only screen and (max-width: $bp-largest) {
        // font-size: 50%;
    }
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    line-height: 1.6;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #2b3043;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #3f4669;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@media (min-width: 1280px) {
    .container {
        max-width: 100%;
    }
}