
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

  

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
    @media only screen and (max-width: 75rem) {
        // font-size: 50%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    line-height: 1.6;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #2b3043;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #3f4669;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@media (min-width: 1280px) {
    .container {
        max-width: 100%;
    }
}