// for pc

@media (min-width: 1280px) {
}

//for tablets and landscape mobile
@media (max-width: 1280px) {
    html {
        font-size: 100% !important;
    }
}

// for mobile
@media only screen and (max-width: 800px) {
    html {
        font-size: 70% !important;
    }
    body {
        overflow-x: clip;
    }
    main .review_slider .review_slide .testimonial {
        padding: 0 !important;

    }
    .hero-cta{
        font-size: 1.2rem !important;
    }
    .mobile-w-full{
        width: 100% !important;
        padding: 3rem 2rem !important;
    }
    .hero-container {
        .content {
            margin-bottom: 5rem;
            height: 55vh;
        
        }

        .w-6\/12 {
            width: 100%;
            text-align: center;
        }
    }

    #scroll-down-animation {
        transform: scale(0.8) !important;
        left: 40% !important;
        bottom: 2.5rem !important;
    }
    span.and {
        ion-icon {
            font-size: 2.5rem !important;
        }
    }
    section#counter-stats {
        margin: 4rem !important;
        .container .row {
            width: 100% !important;
        }
    }

    .section-container {
        .auction-container {
            overflow-x: scroll;
            padding: 3rem;
        }
        .reviews-container {
            overflow-x: scroll;
            padding: 3rem;
            gap: 3rem;
            .container {
                min-width: 22rem;
            }
        }
    }
    .pricing-section {
        .section {
            width: 95vw;
            margin-left: -4rem;
            .container {
                max-width: 100% !important;
            }
        }
        .row {
            width: 100% !important;
            margin-top: 3rem !important;
            .price-card {
                width: 50%;
                border-radius: 10px !important;
                transition: transform 0.4s ease, z-index 0.4s ease;
                cursor: pointer;
                transform-origin: center center;

                .table-default {
                    border-radius: 10px !important;
                }
                .cssbuttons-io-button {
                    font-size: 1.15rem !important;
                }
            }

            .price-card:hover {
                transform: scale(1.05);
                z-index: 10 !important;
            }

            .price-card.active {
                z-index: 10 !important;
                transform: scale(1.2);
            }
            .center-p {
                min-width: 20rem;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: -6rem;
            }
        }
    }
    .footer-container {
        height: auto !important;
    }
    .footer-infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
