// for mobile
@media only screen and (max-width: 800px) {
    .user-panel-wrapper {
        .main-section {
            .main-content {
                width: 100%;
            }
        }
        .header-container {
            gap: 2rem;
            box-shadow: -1px 12px 18px 3px #aaa !important;
            .header-section {
                flex-direction: column;
                .icon {
                    border-right: none;
                    border-bottom: 3px solid var(--color-primary-tint-5);
                    padding-right: 0;
                }
                .content-section {
                    text-align: center;
                    p {
                        font-size: 1.1rem;
                    }
                }
            }
        }
        .user-sidebar {
            width: 16% !important;
            .navigation.active {
                width: 50vw !important;
                border-radius: 5px !important;
                backdrop-filter: blur(19px) !important;
                background: rgb(37 22 70 / 78%) !important;
            }
            .size {
                display: none !important;
            }
        }
        .profile-container {
            .edit-form {
                .edit-row {
                    flex-direction: column;
                    width: 85%;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 0.7rem;
                    input,
                    .date-container,
                    .selectbox-container,
                    textarea {
                        width: 100% !important;
                    }
                }
            }
        }
        .pricing-table {
            .amount {
                font-size: 2.8rem !important;
            }
            .discount-price {
                ins {
                    bottom: 1rem;
                }
            }
        }
        .bookmarks-container {
            grid-template-columns: 1fr !important;
        }
        .w_s-main-container {
            ul {
                display: flex !important;
                flex-direction: row !important;
            }
            li {
                max-width: 30%;
                justify-content: space-around;
                margin-right: 2rem;
            }
        }
        .support-main-container {
            flex-direction: column;
            .tickets-group {
                width: 100% !important;
                flex-direction: row;
                gap: 1rem !important;
            }
            .tickets-list {
                width: 100% !important;
                .ticket-item {
                    width: 100% !important;
                }
            }
            
        }
        .ticket-detail{
            height: 100% !important;
            border-radius: 0px !important;
            .msger{
                margin: 0!important;
                border-radius: 0px !important;
                height: 100%;
                .hydrated{
                    transform: scale(1.7);
                }
            }
            }
    }
}
